body{
    background-color: #DAF7A6;
}
.task{
    background-color: ghostwhite;
    border: 2px solid ghostwhite;
    box-shadow: 5px 10px 10px gainsboro;
    border-radius: 2rem;
    width: 80vh;
    height: 10vh;
    margin-left: 25rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

input{
    /* margin-top: 0.5rem; */
    margin-left: 2rem;
    width: 60vh;
    height: 6vh;
    border: 2px solid ghostwhite;
}

input:focus{
    outline: none;
}

.removeButton{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 5vh;
    color:brown;
    /* padding-top:0.5rem; */
}

.addButton{
    margin-left: 40rem;
    margin-top: 8rem;
    /* padding-top: 2rem; */
    width: 10vh;
    /* height: 40vh; */
    color: rgb(12, 86, 104);
}
